<section id="information-main">
  <h2>Shonan Live Information</h2>
  <p>
    湘南地域のライブハウス＆バーや開催されるライブ情報、<br>
    または出演者募集中のライブ情報などを集めたページになります。
  </p>
  </section>

  <section id="live-space">
  <ul>
  <li>
  <div class="live-space-card">
  <a class="live-space-card" href="http://shonan-bit.com/">
  <h3>湘南Bit</h3>
  <img src="/place_images/shonan-bit.png">
  </a>
  </div>
  </li>

  <li>
  <div class="live-space-card">
  <a class="live-space-card" href="https://www.gabana.jp/">
  <h3>藤沢GABANA</h3>
  <img src="/place_images/shonan-gabana.png">
  </a>
  </div>
  </li>

  <li>
  <div class="live-space-card">
  <a class="live-space-card" href="http://uttapang.com/">
  <h3>茅ヶ崎UTAA-Pang-Pang</h3>
  <img src="/place_images/shonan-utapang.png">
  </a>
  </div>
  </li>
  
  </ul>
  </section>
