<div class="main top-main">
<div class="top-invite">
  <div class="top-message">
    <h2>湘南の音楽を楽しもう。</h2>
    <p>〜『Shonan Music Board』とは〜</p>
  <p class="about">
    湘南の音楽を楽しむ人向けの情報交換SNSです！<br>
    近況やライブの感想などを投稿し、他のユーザーと交流することができます。<br>
    また、湘南のライブハウス＆バーやライブ情報もまとめています！
  </p>
  </div>
  <div class="btn-group">
  <ul>
  <li>
  <%= link_to("新規登録", "/signup") %>
</li>
<li>
  <%= link_to("ログイン", "/login") %>
</li>
  </ul> 
  </div>
</div>